Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/m4/
/configure
/config.*
/libtool
/src/.deps/
/src/.libs/
/src/stamp-h1

/src/config.h*
/src/morse

*.[ao]
*.so
*.dll
*.lib
*.dylib
*.tar.*
